extends layout
include mixins

block content
  +menu-guest

  h1 Vestidos
  p Aqui debería estar una cuadricula con los datos de los vestidos
    a(href='/dress') Vestido

  ul
    li Anterior
    li Siguiente

  +foot
