extends layout
include mixins

block content
  h1= title
  ul
    li: a(href="/dresses") Vestidos
    li: a(href="/login") Login
    li: a(href="/register") Sign up

  h1 Vestido
  p Aqui debería estar los datos de un vestido

  +foot
