extends layout
include mixins

block content
  h1= title
  ul
    li: a(href="/login") Login
    li: a(href="/register") Sign up

  h1 Vestidos
  p Aqui debería estar una cuadricula con los datos de los vestidos
    a(href='/dress') Vestido

  ul
    li Anterior
    li Siguiente

  +foot
