extends ../layout
include ../mixins

block content
  +menu_guest

  if (user.nickname)
    h4= user.nickname
  else
    h4= user.fullname

  p Su cuenta esta activada
  a(href='/') Entrar

  +foot












  //- Esta pagina aparece cuando el usuario ingresa desde el email de confirmacion
  //- confirma al usuario que esta verificado
