extends ../layout
include ../mixins

block content
  +menu-simple
  h1 Bienvenido a DressCloste #{user.nombre}
  h3 Verificación de Email
  p Revise un su correo electronico para atenticar su cuenta.

  +foot
