extends ../layout
include ../mixins

block content
  +menu-guest

  h1 Ingreso
  if (error)
    h3= error
  div
    form(action="/login" method="post")
      label(for='email') Email:
      input(type='text' name='email')
      br
      label(for='clave') Clave:
      input(type='text' name='clave')
      br
      label Recuerdame
      input(type='checkbox' checked=true name='recordar')
      br
      input(type='submit' value='Entrar')
      a(href='/register') Registrar
      a(href='/pass_recover') Recuperar contraseña

  +foot
