extends ../layout
include ../mixins

block content
  +menu-simple

  h1 Cambio de clave

  if (error)
    p.error error

  form(action="/pass_change" method="post")
    label(for='clave') Clave
    input(type='text' name='clave')
    br
    label(for='clave1') Clave
    input(type='text' name='clave1')
    br
    input(type='submit' value="Enviar")

  +foot
